.GridContainer {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  position: fixed;
  top: 0;
  height: 100vh;
}

.Col1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.Col2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.top {
  position: absolute;
}

text {
  font-family: "Roboto", sans-serif;
}

.explanations {
  height: 600px;
  line-height: 600px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  color: #439483;
  opacity: 0.9;
  padding: 40px;
}
.explanations-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.background_img {
  position: fixed;
  right: 0;
  top: 10px;
  height: 120vmin;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 2;
  z-index: -1;
}
